################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/CALab/FileContentIndex
/.vs
/x64
/Release
/Debug
*.user
\#*\#
.\#*
calab.o
libcalab.so
*.aps
*.obj
*.lib
*.exp
/*.bat
*.json
/null
/sync.ffs_db
