################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

.\#*
*.aps
*.exp
*.idb
*.json
*.lib
*.log
*.obj
*.pdb
*.tlog
*.user
/.vs
/.vs/CALab/FileContentIndex
/*.bat
/Debug
/null
/Release
/sync.ffs_db
/x64
\#*\#
calab.o
/calab/*
/calab/Debug
/calab/Release
libcalab.so
