.\#*
*.7z
*.aps
*.bak
*.d
*.exe
*.exp
*.ffs_db
*.html
*.idb
*.json
*.lib
*.log
*.o
*.obj
*.patch
*.pdb
*.py
*.sh
*.so
*.tlog
*.user
*.zip
/.vs
/*.bat
/Debug
/null
/Release
/vis/CaLab.aliases
/vis/tests
/x64
bak/ 
batch/copyFiles.bat
bin/ 
build/
calab.o
calab/*
copy*.bat
post_install*
src/*Kopie.cpp
