1 VERSIONINFO
FILEVERSION 1, 7, 1, 1
PRODUCTVERSION 1, 7, 1, 1
BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "040904E4"
BEGIN
VALUE "Comments", "Interface EPICS <-> LabVIEW™\0"
VALUE "CompanyName", "Helmholtz-Zentrum Berlin für Materialien und Energie GmbH\0"
VALUE "FileDescription", "Interface EPICS <-> LabVIEW™\0"
VALUE "FileVersion", "1,7,1,1\0"
VALUE "InternalName", "CA Lab IOC\0"
VALUE "LegalCopyright", "© 2010 by HZB\0"
VALUE "OriginalFilename", "caLabIoc.dll\0"
VALUE "ProductName", "CA Lab IOC\0"
VALUE "ProductVersion", "1,7,1,1\0"
END
END
BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", 0x409, 1252
END
END

